/**
 * @file   Scss Dark theme file
 * @author Karthik Hande
 */
body.dark {
  --cm-font:  monospace;;

  --cm-primary: #343a40;

  --cm-secondary: #37404a;

  --cm-text-primary: #aab8c5;
  --cm-text-secondary: #8d97ac;

  --cm-nav-bg: var(--cm-secondary);
  --cm-nav-text: var(--cm-text-secondary);
}
