/**
 * @file   scss light theme file
 * @author Karthik Hande
 */
body.light {
  --cm-font:  monospace;;

  --cm-primary: #fafbfe;

  --cm-secondary: #fff;

  --cm-text-primary: #98a6ad;
  --cm-text-secondary: #8d97ac;

  --cm-nav-bg: #313a46;
  --cm-nav-text: #98a6ad;
}
