<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card text-center h-100 global-details">
                <div class="card-body">
                    <h5 class="card-title">Total Confirmed</h5>
                    <p class="card-text">{{globalDetail?.TotalConfirmed}}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 global-details">
                <div class="card-body">
                    <h5 class="card-title">New Confirmed</h5>
                    <p class="card-text">{{globalDetail?.NewConfirmed}}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 global-details">
                <div class="card-body">
                    <h5 class="card-title">Total Death</h5>
                    <p class="card-text">{{globalDetail?.TotalDeaths}}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 global-details">
                <div class="card-body">
                    <h5 class="card-title">New Death</h5>
                    <p class="card-text">{{globalDetail?.NewDeaths}}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 global-details">
                <div class="card-body">
                    <h5 class="card-title">Total Recovered</h5>
                    <p class="card-text">{{globalDetail?.TotalRecovered}}</p>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card text-center h-100 global-details">
                <div class="card-body">
                    <h5 class="card-title">New Recovered</h5>
                    <p class="card-text">{{globalDetail?.NewRecovered}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
